<div class="pop-up-content container" style="margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Product Information
            <span class="close">&times;</span>
        </div>
        <form [formGroup]="editProduct" (ngSubmit)="onSubmit()">
            <div class="panel-body">
                <div class="form-group" style="display: none;">
                    <label for="productname">Mã sản phẩm</label>
                    <input type="text" id="productId" formControlName="Id"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="productname">Tên sản phẩm</label>
                    <input type="text" id="productName" formControlName="Name"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="productname">Giá nhập</label>
                    <input type="number" id="productImportPrice" formControlName="ImPrice"  class="form-control" >
                </div>
                <div class="form-group">
                    <label for="productname">Giá bán</label>
                    <input type="number"  id="productExportPrice" formControlName="ProPrice"  class="form-control" />
                </div>
                <div class="form-group">
                    <label for="productname">Số lượng</label>
                    <input type="number"  id="productAmount" formControlName="Quantity"  class="form-control" />
                </div>
            </div>
            <div class="panel-footer">
                <div class="row" style="text-align: right;">
                    <button type="submit" class="btn btn-primary" style="margin: 10px;">
                        Cập nhật
                    </button>
                    <a routerLink="/product" type="submit" class="btn btn-primary" style="margin: 10px;">
                        Danh sách
                    </a>
                </div>
            </div>
          </form>
    </div>

</div>
  
  